{{#each this}}
 <h1 class="country-name">{{name}}</h1>
            <img class="country-img" src={{flags.png}}>
            <p class="country-capital">Capital: {{capital}}</p>
            <p class="country-popul">Population: {{population}}</p>
    
            <ul class="language-list">
                {{#each languages}}
                <li class="language-list-elem">{{this.name}}</li>
                {{/each}}
            </ul>
            
{{/each}}