    <div class="card-img-top">
        <img src="{{sprites.front_default}}" alt="{{name}}">
    </div>
        <h2 class="card-title">Name: {{name}}</h2>
        <p class="card-text">Weight: {{weight}}</p>
        <p class="card-text">Height: {{height}}</p>

        <p class="card-text">Scills: </p>
  